<footer class="py-8 py-md-8 @@classList">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <span class="text-white">From us to your inbox weekly. </span>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-md-end justify-content-start">
        <input type="email" class="myinput-footer w-100 form-control mr-3" id="youremail"
          placeholder="Enter your email">
        <a href="docs/index.html" class="mybtn-footer btn btn-danger bg-mypink lift mt-3 mt-md-0">
          Subcribe
        </a>
      </div>
      <div class="col-12 col-md-12 col-lg-12 pt-8">
        <div class="border-bottom"></div>
      </div>
    </div>
    <div class="row pt-8">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="@@webRoot/assets/img/myphoto/img/logo.svg" alt="..." class="footer-brand img-fluid mb-3 mr-3 mr-md-0">

        <!-- Text -->
        <a class="link" href="../download.html" target="_blank">
          <img src="../assets/img/myphoto/additional-photo/icons/social/appstore.png" alt="..."
            class="img-fluid mb-3 mr-3 mr-md-0">
        </a>
        <a class="link" href="../download.html" target="_blank">
          <img src="../assets/img/myphoto/additional-photo/icons/social/google.png" alt="..." class="img-fluid mb-3">
        </a>

      </div>
      <div class="col-12 col-md-8 col-lg-9 row pr-lg-0">
        <div class="col-6 col-md-4 col-lg-3">

          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white">
            SQUARE
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="../index.html" class="text-reset">
                Home
              </a>
            </li>
            <li class="mb-3">
              <a href="../players.html" class="text-reset">
                Players
              </a>
            </li>
            <li class="mb-3">
              <a href="../creative-lab.html" class="text-reset">
                Creative Lab
              </a>
            </li>
            <li class="mb-3">
              <a href="../blog.html" class="text-reset">
                Blog
              </a>
            </li>
            <li class="mb-3">
              <a href="../career-single.html" class="text-reset">
                Contact Us
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-3">

          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white">
            Solutions
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="../models.html" class="text-reset">
                Models
              </a>
            </li>
            <li class="mb-3">
              <a href="../local-business.html" class="text-reset">
                Local Businesses
              </a>
            </li>
            <li class="mb-3">
              <a href="../brands.html" class="text-reset">
                Brands
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                Agencies (soon)
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4  col-lg-3">

          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white">
            Resources
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a href="../terms-of-service.html" class="text-reset">
                FAQs
              </a>
            </li>
            <li class="mb-3">
              <a href="../careers.html" class="text-reset">
                Careers
              </a>
            </li>
            <li class="mb-3">
              <a href="../download.html" class="text-reset">
                Download
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 offset-lg-1 col-md-4 col-lg-2 pr-lg-0">

          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white ">
            Legal
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a href="../terms-of-service.html" class="text-reset">
                Term &amp; Co.
              </a>
            </li>
            <li class="mb-3">
              <a href="../terms-of-service.html" class="text-reset">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                Pagebuilder
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .row -->
    <div class="row pt-8 align-items-center">
      <div class="small text-white col-12 col-md-8 text-left">
        <span class="text-made-after">
          © All rights Reserved by SQUARE | Made with
        </span>
        | 2018
      </div>
      <ul class="col-12 col-md-4 text-md-right text-left list-unstyled list-inline list-social mb-6 mb-md-0">
        <li class="list-inline-item list-social-item mr-3">
          <a href="#!" class="text-decoration-none">
            <img src="././assets/img/myphoto/additional-photo/icons/social/instagram.png" class="list-social-icon"
              alt="...">
          </a>
        </li>
        <li class="list-inline-item list-social-item mr-3">
          <a href="#!" class="text-decoration-none">
            <img src="././assets/img/myphoto/additional-photo/icons/social/facebook2.png" class="list-social-icon"
              alt="...">
          </a>
        </li>
        <li class="list-inline-item list-social-item mr-3">
          <a href="#!" class="text-decoration-none">
            <img src="././assets/img/myphoto/additional-photo/icons/social/linked-in.png"
              class="list-social-icon img-fluid" alt="...">
          </a>
        </li>
        <li class="list-inline-item list-social-item">
          <a href="#!" class="text-decoration-none">
            <img src="././assets/img/myphoto/additional-photo/icons/social/youtube.png" class="list-social-icon"
              alt="...">
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- / .container -->
</footer>