<!-- Submit -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog"
  aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true" >
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">

          <div class="col-12 col-md-12">
            <div class="card-body pb-4 py-md-0 pt-md-6">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close" style="
        position: relative;
        top: 0px;
        right: 0px;
    ">
                <span aria-hidden="true" class="font-weight-bold text-body">x</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-6 font-weight-bold text-left" id="modalSignupHorizontalTitle" style="
        /* position: relative; */
        /* top: 2px; */
    ">Submit your interest</h2>

              <!-- Text -->


              <!-- Form -->
              <form class="mb-6">

                <!-- Email -->
                <div class="row">
                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="modalSignupHorizontalEmail">Company</label>
                    <input type="text" class="form-control" id="modalSignupHorizontalEmail" placeholder="Brand Name">
                  </div>

                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="inputState">Location</label>
                    <select id="inputState" class="form-control">
                      <option selected="">City</option>
                      <option>...</option>
                    </select>                  
                  </div>
                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="modalSignupHorizontalEmail">Contact</label>
                    <input type="text" class="form-control" id="modalSignupHorizontalEmail"
                      placeholder="Name and Surname">
                  </div>
                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="modalSignupHorizontalEmail">Role</label>
                    <input type="text" class="form-control" id="modalSignupHorizontalEmail"
                      placeholder="Position in the company">
                  </div>
                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="modalSignupHorizontalEmail">Company</label>
                    <input type="email" class="form-control" id="modalSignupHorizontalEmail"
                      placeholder="hello@domain.com">
                  </div>
                  <div class="form-group col-12 col-md-6 mb-6">
                    <label class="font-weight-bold" for="modalSignupHorizontalEmail">Mobile</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <select id="inputState" class="input-group-text" style="
                            padding: 5px;
                            outline: none;
                        ">
                          <option selected="">+84</option>
                          <option selected="">+85</option>
                          <option selected="">+86</option>
                          <option selected="">+87</option>
                        </select>
                      </div>
                      <input type="text" class="form-control" placeholder="345367567" aria-label="Username"
                        aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="form-group col-12 col-md-12 mb-6">
                    <label for="validationTextarea" class="font-weight-bold">Leave us message</label>
                    <textarea class="form-control" id="validationTextarea" placeholder="Dear SQUARE..."
                      required=""></textarea>

                  </div>
                </div>



                <button class="btn btn-block btn-primary col-4 mx-auto bg-mypink mybtn-paddding"
                  type="submit">Resigter</button><!-- Password -->


                <!-- Submit -->


              </form>

              <!-- Text -->


            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>
